@import "./general.scss";
.announcements-container {
  user-select: none;
  .tab-active{
    background-color: #e1e4e7;
    color: #fff;
  }
  .input-group{
    position: relative;
  }
  .input-group-append{
   
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 10;
    .input-group-text{
      background-color: transparent;
      border: none;
    }
    
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}
.announcement-modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Modal Content */
  .announcement-modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
  }
}

